
# Debugging
# Default to False
DEBUG=False

# Default to not set.
# If not set, defaults to 'DEBUG'
USE_DEBUG_DB
USE_DEBUG_CACHE

# Defaults to False
TESTING=True

# Secrets 
# Must be set
DJANGO_SECRET_KEY="<secret_key_here>"

# JWT Auth
# Must be set
JWT_PRIVKEY_PATH="<path_to_privkey>"
JWT_PUBKEY_PATH="<path_to_pubkey>"
# Default to ES256
JWT_ALGO="ES256"
# Defaults to 15 minutes and 2 days respectively
JWT_ACCESS_LIFETIME=15
JWT_REFRESH_LIFETIME=2880

# Databases
# Default to autogestao
DEFAULT_DB_NAME="autogestao"
# Must be set
DEFAULT_DB_USER="<db_user>"
DEFAULT_DB_PASSWORD="<db_password>"
# Default to localhost & 5432
DEFAULT_DB_HOST="localhost"
DEFAULT_DB_PORT="5432"

# Caches
# Default to redis://127.0.0.1:6379
CACHE_URL="redis://127.0.0.1:6379"

# Email
# Default to smtp.gmail.com & 587
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
# Must be set
EMAIL_HOST_USER="<app_email>"
EMAIL_HOST_PASSWORD="<email_password>"
# Default to True
EMAIL_USE_TLS=True
# Defaults to not set
# If not set, defaults to 'EMAIL_HOST_USER'
DEFAULT_FROM_EMAIL
