<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sua conta pode estar sendo deletada</title>
</head>

<body>
  <p>Olá,</p>
  <p>Este é um aviso de que uma solicitação para excluir a sua conta no aplicativo AutoGestão foi iniciada.</p>
  <p>Se foi você quem fez essa solicitação, pode continuar o processo no aplicativo utilizando o código de verificação
    enviado para o seu e-mail.</p>
  <p><strong>Se não foi você quem solicitou isso, por favor entre em contato com nosso suporte imediatamente para
      proteger sua conta.</strong></p>
  <p>Atenciosamente,</p>
  <p>AutoGestão</p>
</body>

</html>